/*
*************************************
  gloc stylesheeet
  Created: 28 feb 2012    
  Updated: 2 mar 2012
*************************************
*/

/*
test page
*/

body { font-family: tahoma, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", verdana, arial, sans-serif; background:#d9d0c3; margin:0;}
table#tests > thead > tr > th { padding:10px 0 20px; }
table#tests > tbody > tr > th { text-align:left; }
thead { font-size: 160% }
td { padding:8px; }
.test th, .testgroup th { text-align: left; vertical-align:top; padding:4px; }
.pass { background-color: #dfd; }
.partial { background-color: #ffd; }
tr.testgroup .fail { background-color: #fdd; }
tr.test .fail { background: #fdd; }
table.diff { border-top:1px solid #999; border-right:1px solid #999; border-bottom:1px solid #999; border-spacing: 0; margin-top:10px; background-color:#fff; } /* d7e2ec a8c1d7 */ 
table.diff tbody { font-family: Courier New, courier, monospace; font-size:80%; }
table.diff th { font-weight:normal; }
table.diff > thead > tr > th {font-weight:bold; }
table.diff tbody tr th, table.diff tbody tr td { border-top:1px solid #999;  }
/*table.diff tbody tr td { white-space: nowrap;  }*/
table.diff tbody tr th { border-right:1px solid #999; border-left:1px solid #999; }
table.diff thead tr th.texttitle { border-left:1px solid #999; font-size:80%; }
table.diff tfoot tr th { border-top:1px solid #999; border-left:1px solid #999; }	
em { color: #f00; background: #fdd; padding: 4px; font-weight:bold; }
p em { background:none; font-weight:normal; }
td.posix, td.js_of_ocaml, td.javascript { /*width:33%; max-width:33%; */ vertical-align:top; }
td.posix p, td.js_of_ocaml p, td.javascript p { font-size:smaller; }


/*
tool
*/
#header { width:100%; background:#281710; height:80px; border-bottom:5px solid #f90; }
#header h1 { text-align:center; width:100%; color:#d9d0c3; padding-top:15px; }
.flag, .input { text-align: right }
#gloc { top: 103px; right: 10px; float:right; background: #d9d0c3; }
.fs { width: 50%; margin-top:20px; }
#gloc-cmd { font-size: 24pt }
h2 { display: inline }
.closefile { background-color: red }
.hidesource { background-color: #ffd }
.showsource { background-color: #00c583; color: white /* 00b478 */}
.CodeMirror { border-right: 1px solid #ccc; }
.CodeMirror-scroll { height: auto; overflow: visible; }
.CodeMirror-gutter-text { color: #999; }
.suffix { color: #999 }

#fs { margin-left:8px; }
#fs h2 { text-shadow: 0px 1px 0px #fff; }
#header h1 a, #header h1 a:link { text-shadow:none; color:#d9d0c3; }
.CodeMirror-gutter { background:#ffeadd; border-right:1px solid #ccc; }
.CodeMirror-gutter-text pre { color:#999; }
.CodeMirror-lines { background:#f7f7f7; }
form table tbody tr:focus { background: #f00; }
form table { border: 3px solid #f7f7f7; border-spacing:0; }
form table td	{ border-bottom: 3px solid #f7f7f7; padding:4px; }
form table td#gloc-cmd-copy { border-bottom:0; }
h1 { margin-top:0; }
input { background-color: #f7f7f7; }
input:focus { background-color: #ffd; }
td.flag, td.descr { font-family: tahoma; font-weight: bold; color:#281710; text-shadow: 0px 1px 0px #fff; font-size:100%;}
/*td.descr { font-weight:bold; color:#999; text-shadow: 0px 1px 0px rgba(255,255,255,.5); }*/
/*td.descr { font-weight:bold; color:#bbb; text-shadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,.5); }*/
#footer { position:relative; bottom:0; clear:both; width:100%; background:#281710; height:110px; left:0; line-height:0.8em; border-top:5px solid #f90; }
#footerlinks { margin:0 auto; width:50%; }
#footer a, #footer a:link { color:#fff; font-size: 0.8em; }
#footer p { margin:0; text-align:center; padding-top:20px; }
#footer p#source, #footer p#glol { 
	float:left;
	width:30%;
	}
	
#footer p#glol {
	clear:right;
	width:30%;
		}

#footer p#contact {
	float:left;
	width:30%;
	}